<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>

    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">

	  
{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <header class="page-header" role="banner">
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>


      <div style="text-align:center; line-height:1.9; font-size:18px;">

      <a href="https://austindibble.com" target="_blank">Austin Dibble</a> &#x266B; &nbsp;&nbsp;

      <a href="https://scholar.google.com/citations?user=1cJeytkAAAAJ" target="_blank">Connor Dalby</a> &#x266B; &nbsp;&nbsp;

      <a href="https://orcid.org/0000-0001-6773-9481" target="_blank">Michele Sevegnani</a> &#9826; &nbsp;&nbsp;

      <a href="https://scholar.google.com/citations?user=BAJlupYAAAAJ&hl=it&oi=ao" target="_blank">Alessio Fracasso</a> &psi;

      <br>

      <a href="https://www.gla.ac.uk/schools/healthwellbeing/staff/donaldlyall/" target="_blank">Donald Lyall</a> &#9829; &nbsp;&nbsp;

      <a href="https://www.gla.ac.uk/schools/psychologyneuroscience/staff/monikaharvey/" target="_blank">Monika Harvey</a> &#x266B; &nbsp;&nbsp;

      <a href="https://www.michelesvanera.org/" target="_blank">Michele Svanera</a> &#x266B;

      </div>

      <br>

      <div style="text-align:center; font-size:16px; line-height:1.7;">

      &#x266B; - Center for Cognitive Neuroimaging, University of Glasgow, UK <br>

      &#9826; - School of Computing Science, University of Glasgow, UK <br>

      &#9829; - School of Health and Wellbeing, University of Glasgow, UK <br>

      &psi; - Department General Psychology, University of Padova, Padova, Italy

      </div>
      
        
  </header>
        
  <table align=center width=600px>
    <tr>
      <td align=center width=150px>
        <center>
        <kbd>
          <a href="https://github.com/rockNroll87q/NeuroFM" target="_blank"><img class="" src="./misc/code_2.png" height="70px"></img></a><br>
        </kbd>
        </center>
      </td>
      <td align=center width=150px>
        <center>
        <kbd>
          <a href="TODO" target="_blank"><img class="" src="./misc/paper3.png" height="75px"></img></a><br>
        </kbd>
        </center>
      </td>
      <td align=center width=150px>
        <center>
        <kbd>
          <a href="https://huggingface.co/rocknroll87q/NeuroFM" target="_blank"><img class="" src="./misc/hface_logo.png" height="75px"></img></a><br>
        </kbd>
        </center>
      </td>
      <td align=center width=150px>
        <center>
        <kbd>
          <a href="https://hub.docker.com/r/rocknroll87q/neurofm" target="_blank"><img class="" src="./misc/docker2.png" height="75px"></img></a><br>
        </kbd>
        </center>
      </td>
    </tr>
    </table><br>
	  
	<hr>
    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
        {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
        {% endif %}
      </footer>
    </main>
  </body>
</html>
